body {
    background-image: url(background.jpg);
    background-size: cover;
}

/* label {
    color: rgb(255, 255, 255);
} */

.inner_title {
    color: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.valid-feedback {
    background-color: rgb(97, 97, 97);
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #36D1DC, #5B86E5);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #36D1DC, #5B86E5)
}
